@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.liner {
  border: 1px solid red;
}

.stroke-3 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: transparent;
}

.label {
  color: #1c1c1c;
  font-family: "Inter";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.regular-checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 3px solid #1c1c1c;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  color: black;
}

.regular-checkbox:active,
.regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: black;
}

.regular-checkbox:checked:after {
  content: "\2714";
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black !important;
}

.route {
  -webkit-text-stroke-width: 0.10000000149011612;
  -webkit-text-stroke-color: #1c1c1c;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.34375rem;
  text-transform: uppercase;
  /* color: transparent; */
}

.react-select__input::placeholder {
  color: red;
}